node_modules
\*\*/node_modules

dist
build
.next
out
\*.tsbuildinfo

packages/core/src/generated

coverage
.nyc_output
playwright-report
test-results

.env
.env.\*
!.env.example

.git
.github
.husky
.docs
supabase/.temp
supabase/.branches

.DS_Store
\*.log
README.md
